body {
    font-family: helvetica, arial, sans-serif;
    font-weight: 200;
    overflow: hidden;
}

body.fullscreenIE {
    margin: 0;
}

#container.fullscreenIE {
    position: absolute;
}

#header.fullscreenIE {
    position: absolute;
    z-index: 0;
}

#fullWidth.fullscreenIE {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0
    border: none;
}

#gcf-overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(50,50,50);
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    text-align: center;
    z-index: 100;
}

.gcf-prompt {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    width: 500px;
    font-size: 32px;
    border: 3px solid #57c1fa;
    line-height: 36px;
    color: #FFF;
    margin-top: 130px;
    background-color: #333;
}

.gcf-prompt a {
    color: #FF8833;
    text-decoration: none;
}

.gcf-prompt a:hover {
    color: #57C1FA;
}

.gcf-install-prompt {
    left: 0;
}

#map-container {
    position: relative;
    display: block;
    z-index: 10;
    left: 0;
    top: 0;
}

#fullWidth {
    overflow: hidden;
    display: inline-block;
}

#map-container.absol {
    position: absolute;
}

#map {
    margin-bottom: -4px;
    position: relative;
    background-color: #FFF;
}

#map-svg {
    position: relative;
}

#rect {
    position: relative;
    fill: none;
}

#main-popup {
  position: absolute;
  width: 300px;
  height: 600px;
  background-color: #000;
  opacity: 0.7;
  z-index: 10;
  border-radius: 8px;
}

.node image {
  cursor: pointer;
}

#map-container .display-none {
    display: none;
}

.test {
    width: 120px;
    height: 80px;
    opacity: 0.7;
    background-color: #000;
    display: none;
}

.pop-up {
    color: #FFF;
    position: absolute;
/*    background-color: #000;
    opacity: 0.5;
*/    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    width: 300px;
    height: auto;
    border-radius: 16px;
    z-index: 1;
    line-height: 14px;

    border-top: 2px solid #f83;
    border-left: 3px solid #f83;
}

.pop-up .title {
    color: #57c1fa;
    padding: 12px 24px 6px 26px;
    font-size: 30px;
    line-height: 34px;

}

.pop-up .title.selected {
    color: #f83;
}

.pop-up .subhead {
    padding: 9px 18px 9px 16px;
    font-size: 18px;
    line-height: 22px;
}

.pop-up .maintext {
    padding: 16px 20px 16px 20px;
    font-size: 14px;
    line-height: 18px;
}

.pop-up .maintext a {
    color: #f83;
    text-decoration: none;
}

.pop-up .maintext a:hover {
    color: #57c1fa;
    text-decoration: none;
}

.pop-up img {
    max-width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    display: block;
}

.pop-up .close-btn {
    position: absolute;
    background-image: url('close.png');
    background-position: center;
    background-size: 75% 75%;
    opacity: 0.5;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 100px;
    margin-left: 265px;
    margin-top: 8px;
    cursor: pointer;
}

.pop-up .close-btn:hover {
    opacity: 0.9;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 10px;
  opacity: 0.8;
}

.link.me {
    stroke: #57c1fa;
    stroke-width: 14px;
}

.link.not-me {
    stroke: #666;
}

.link.me.hover {
    stroke: #57c1fa;
}

.link.not-me.hover {
    stroke: #f83;
}

#map .link.white-line {
    stroke: #FFF;
}

.curvedpath {
    fill: none;
    stroke: #666;
    stroke-width: 24px;
    stroke-dasharray: 60, 30;
    opacity: 0.5;
}

#map-container .orbiting {
    display: none;
}

circle {
    opacity: 0.8;
    stroke: #fff;
    stroke-width: 10px;
    cursor: pointer;
/*  stroke-dasharray: 5, 2;
*/}

circle.hover {
    stroke: #f83;
    stroke-width: 14px;
}

.node circle.light {
    stroke: #57c1fa;
}

.node circle.light.hover {
    stroke: #f83;
}

.node circle.dont-light {
    stroke: #FFF;
}

.node circle.dont-light.hover{
    stroke: #F83;
}

.add-node-btn {
    fill: #FFF;
}

.add-node-form .create-node {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 1000px;
    background-color: #FFF;
    cursor: pointer;
    background-image: url("plus-black.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat no-repeat;
    border: none;
    opacity: 0.8;
    display: inline-block;
    margin: 10px auto 20px auto;
}

.add-node-form {
    padding: 0 24px;
}

.add-node-form > * {
    border: 2px solid #666;
    padding: 5px;
}

.add-node-form > *:focus {
    border: 2px solid #57c1fa;
;
}

.pop-up .add-node-form [name="image-url"] {
    margin: 0;
    border: 2px solid #666;
    width: 57%;
    float: left;
    padding: 5px;
}
.pop-up .add-node-form [name="image-upload"] {
    margin-top: 3px;
    position: absolute;
    display: none;
}

.pop-up .add-node-form > div {
    border: none;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pop-up .add-node-form .browse {
    width: 26%;
    height: 21px;
    background-color: white;
    float: left;
    clear: both;
    margin: 10px auto 0 auto;
    display: inline-block;
    border: 2px solid #666;
    border-radius: 5px;
    color: #333;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    line-height: 20px;
    cursor: pointer;
}

.pop-up .add-node-form .browse:hover {
    background-color: #333;
    color: #fff;
}

.add-node-form input {
    font-size: 18px;
    border-radius: 5px;
    width: 240px;
    display: block;
    margin: 10px auto;
}

.add-node-form textarea {
    font-size: 18px;
    border-radius: 5px;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    max-height: 400px;
    display: block;
    margin: 10px auto;
}

.add-node-form [name="main-text"] {
    height: 100px;
}

.add-node-form [name="main-text"] > * {
    color: green
}


circle.filler {
    fill: #FFF;
    opacity: 0;
    stroke: #fff;
    stroke-width: 8px;
}

circle.mapname {
    fill: #404616;
}

circle.topic {
    fill: #ABB400;
}

circle.disruption {
    fill: #FF963B;
}

circle.enabler {
    fill: #820063;
}

circle.signal {
    opacity: 0.5;
}

text {
    fill: #FFF;
    font-family: sans-serif;
    pointer-events: none;
}

#toolbar {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 0px;
    background-color: transparent;
    text-align: right;
}

.btn {
    display: inline-block;
    float: right;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgba(87, 193, 250, 0.9);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    font-size: 28px;
    line-height: 16px;
    z-index: 20;
    margin: 0 5px;
}

#toolbar .btn.max {
    opacity: 0.3;
    cursor: default;
}

#toolbar .btn:hover, #toolbar .btn:hover .btn {
    background-color: #2791da;
}

#toolbar .btn.max:hover {
    background-color: rgba(87, 193, 250, 0.9);
}

#zoomin {
    background-image: url('zoom-in.png');
    background-position: center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
}

#zoomout {
    background-image: url('zoom-out.png');
    background-position: center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
}

#share {
    width: auto;
    cursor: default;
}

#share .btn {
    background-image: url('link.png');
    background-position: center;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
}


#share.has-link .btn {
    background-position: 3px 50% 2px 50%;
}

#share .field {
    margin-top: 8px;
    margin-left: 10px;
    float: right;
    font-size: 16px;
    display: none;
    font-family: helvetica;
    font-weight: 200;
    width: 200px;
}

#share.has-link .field {
    display: inline-block;
}

#fullscreen {
    width: auto;
    margin: 0 20px 0 5px;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    color: #FFF;
    text-decoration: none;

    padding: 0 10px 0 46px;
    background-image: url('fullscreen-alt.png');
    background-position: 10px 50%;
    background-size: auto 26px;
    background-repeat: no-repeat;
}

#clear-screen {
    width: auto;
    margin: 0 20px 0 20px;
    font-size: 18px;
    vertical-align: middle;
    color: #FFF;
    text-decoration: none;
    line-height: 40px;
    padding: 0 10px;
}

#map-info {
    position: absolute;
    width: 350px;
    height: 562px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    z-index: 1;
    margin-top: 30px;
    padding: 18px 0 0 0;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFF;
    text-align: left;

    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

#map-info img {
    margin: 8px auto;
    max-width: 100%;
    display: block;
}

#map-info a {
    color: #FF8833;
    text-decoration: none;
}

#map-info a:hover {
    color: #57c1fa;
}

#map-info.show {
    margin-left: 0;
}

#map-info.hide {
    margin-left: -350px;
}

#info-toggle #info-icon {
    width: 20px;
    height: auto;
    position: absolute;
    background-color: transparent;
    margin: 46px 0 0 303px;
    z-index: 21;
    cursor: pointer;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

}

#info-toggle #info-icon.hide {
    width: 28px;
    margin: 47px 0 0 7px;
    -webkit-filter: invert(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0\'/></filter></svg>#grayscale");


    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
}

#info-btn {
    position: absolute;
    width: 15px;
    height: 15px;
    color: white;
    background-color: rgba(87, 193, 250, 0.9);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    font-size: 28px;
    line-height: 16px;
    z-index: 20;
    text-align: center;
}

#info-btn.transition {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#info-btn.close {
    padding: 6px;
    margin: 43px 0 0 299px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.5);
}

#info-btn.open {
    padding: 14px;
    margin: 40px 0 0 0;
    border-radius: 0 8px 8px 0;
    background-color: rgba(87, 193, 250, 0.9);
}

#info-toggle #info-btn.close.hover {

    background-color: rgba(255,255,255,1);
}

#info-toggle #info-btn.open.hover {
    background-color: rgba(57, 163, 220, 1);
}

.info-title {
    font-size: 26px;
    margin: 0 5% 12px 5%;
    text-align: left;
    color: #57c1fa;
    font-weight: 500;
    line-height: 1.2em;
    max-width: 75%;
}

.info-description {
    margin: 0 5% 20px 5%;
}

.info-subhead {
    position: relative;
    font-size: 20px;
    margin: 0 5% 12px 5%;
    font-style: italic;
    line-height: 1.2em;
    clear: both;
}

.info-text {
    position: relative;
    font-size: 14px;
    line-height: 1.4em;
    width: 55%;
    float: right;
}

.info-pic {
    position: relative;
    width: 40%;
    height: auto;
    float: left;
    margin: -3px 10px 5px 0;
}

.clearfix {
    width: 100%;
    clear: both;
    height: 18px;
}

#aToZ {
    position: absolute;
    background-color: transparent;
    color: #fff;
    margin-left: -700px;
    z-index: 0;
    text-align: center;
}

#aToZ .letter {
    position: relative;
    background-color: #000;
    display: inline-block;
    clear: both;
    float: left;
}

#aToZ .parsed {
    background-color: #000;
    position: relative;
    clear: both;
    display: inline-block;
    float: left;
}

#aToZ text {
    background-color: #000;
    width: 100%;
}

.node-text {
    text-align: center;
    text-anchor: middle;
    position: relative;
}

.node-text .title {
    font-style: italic;
}

.node-text tspan {
    display: inline-block;
}

.map-popups {
    display:none;
}